@{
    ViewData["Title"] = "О системе";
}

<h1>О системе</h1>

<p>
    Данная информационная система разработана для автоматизации складского учёта
    электродеталей и контроля производства готовых контроллеров.
</p>