@model ElectroWarehouse.Models.ControllerSpec

@{
    ViewData["Title"] = "Добавление спецификации";
}

<h1>Добавление спецификации</h1>

<h4>Спецификация контроллера</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="ControllerDeviceId" class="control-label">Контроллер</label>
                <select asp-for="ControllerDeviceId" class="form-control" asp-items="ViewBag.ControllerDeviceId"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="PartId" class="control-label">Электродеталь</label>
                <select asp-for="PartId" class="form-control" asp-items="ViewBag.PartId"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="QuantityPerUnit" class="control-label">Количество деталей на изделие</label>
                <input asp-for="QuantityPerUnit" class="form-control" />
                <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}