@model ElectroWarehouse.Models.AppUser

@{
    ViewData["Title"] = "Регистрация";
}

<h2>Регистрация</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form method="post">
    <div class="mb-3">
        <label asp-for="Login" class="form-label"></label>
        <input asp-for="Login" class="form-control" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Зарегистрироваться</button>
    <a asp-controller="Account" asp-action="Login" class="btn btn-secondary">Назад</a>
</form>